<template>
  <div>
    <mt-header fixed title="通讯录">
      <mt-button icon="back" slot="left" @click.native="backBtn">返回</mt-button>
      <mt-button icon="more" slot="right" @click.native="moreBtn"></mt-button>
    </mt-header>
  </div>
</template>

<script>
export default {
  name: 'Header',
  methods: {
    backBtn() {
      alert('aaa');
    },
    moreBtn() {
      alert('bbb');
    }
  }
}
</script>

<style scoped>
</style>
