<template>
  <div>
    <mt-index-list>
      <mt-index-section v-for="item in userData" :index="item.index" :key="item.id">
        <mt-cell v-for="user in item.users" @click.native="telAlert(user.tel)" :title="user.name" :key="user.tel"></mt-cell>
      </mt-index-section>
    </mt-index-list>
  </div>
</template>

<script>
import { MessageBox } from 'mint-ui';

// 用于模拟用户数据
var userData = [
  {
    'index': "A", 'users': [
      { "name": "a1", "tel": 12354645789 },
      { "name": "a2", "tel": 12348766789 },
      { "name": "a3", "tel": 12346765789 },
    ]
  },
  {
    'index': "B", 'users': [
      { "name": "b1", "tel": 76546456789 },
      { "name": "b2", "tel": 26534876789 },
      { "name": "b3", "tel": 17746766789 },
    ]
  },
  {
    'index': "C", 'users': [
      { "name": "c1", "tel": 12354645689 },
      { "name": "c2", "tel": 54534876689 },
      { "name": "c3", "tel": 78676765689 },
    ]
  },
  {
    'index': "D", 'users': [
      { "name": "d1", "tel": 77646456789 },
      { "name": "d2", "tel": 26734876789 },
      { "name": "b3", "tel": 78646765789 },
    ]
  },
  {
    'index': "E", 'users': [
      { "name": "e1", "tel": 29534876689 },
      { "name": "e2", "tel": 29534877689 },
      { "name": "e3", "tel": 14574665689 },
    ]
  },
];

export default {
  name: 'List',
  data() {
    return {
      userData: userData
    };
  },
  methods: {
    telAlert(tel) {
      MessageBox({
        title: '拨号',
        message: tel,
        showCancelButton: true
      })
      .then(function () {
        alert('成功');
      })
    }
  }
}
</script>

<style scoped>
</style>
