<template>
  <div id="app">
    <Header></Header>
    <List></List>
  </div>
</template>

<script>
import Header from './components/Header';
import List from './components/List';

export default {
  name: 'app',
  components: {
    Header,
    List
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
}
</style>
